<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/bootstrap.min.css" />
    <link rel="stylesheet" href="/style/fontawesome.css" />
    <link rel="stylesheet" href="/style/slick.css" />
    <link rel="stylesheet" href="/style/lightgallery.min.css" />
	<link rel="stylesheet" href="/style/animate.css" />
    <title>@ViewBag.Title - Privacy</title>

    <link rel="stylesheet" href="/style/style.css" />
    <link rel="shortcut icon" href="/img/Privacy-logo-white-ver.png" sizes="100%">
    
    <script src="https://kit.fontawesome.com/79904cb93e.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</head>
<body id="home">
    <header class="st-site-header st-style1 st-sticky-header">
        <div class="st-main-header">
            <div class="container">
                <div class="st-main-header-in">
                    <div class="st-main-header-left">
                        <a class="st-site-branding" href="@Url.Action("Index", "Home")"><img src="/img/logo.png" alt="Privacy"></a>
                    </div>
                    <div class="st-main-header-right">
                        <div class="st-nav">
                           
                            <div class="sp-phone">
                                <div class="st-hero-social-links">
                                    <a href="https://www.twitch.tv/dz_privacy" target="_blank" class="st-social-btn">
                                        <i class="fab fa-twitch"></i>
                                    </a>
                                    <a href="https://twitter.com/Privacy_Pleas" target="_blank" class="st-social-btn">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer>
        <div class="container">
            <div class="st-copyright-wrap text-center">
                <div class="st-copyright-text"> 2024. All right reserved.</div>
            </div>
        </div>
    </footer>
    <!-- End Footer Section -->
    <!-- Scripts -->
    <script src="/js/jquery-1.12.4.min.js"></script>
    <script src="/js/jquery.slick.min.js"></script>
    <script src="/js/lightgallery.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/ripples.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/reaction.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6JT7FGYCR1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-6JT7FGYCR1');
    </script>
</body>
</html>