@model IEnumerable<Privacy_Web_App.Models.VisualTutsViewModel>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section id="portfolio">
    <div class="st-height-b100 st-height-lg-b80"></div>
    <div class="container">
        <div class="st-section-heading st-style1">
            <h4 class="st-section-heading-title">Visual Tutorials</h4>
            <h2 class="st-section-heading-subtitle">Visual Tutorials</h2>
        </div>
        <div class="st-height-b25 st-height-lg-b25"></div>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var tut in Model)
            {
                <img src="/img/tutorials/visual/@tut.img" />
                <div style="height: 50px;width: 100%;"></div>
            }

        </div>
    </div>
   
</section>


