@model Privacy_Web_App.Models.MapLootModel


@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="st-dark-bg">
    <div class="st-height-b100 st-height-lg-b80"></div>
    <div class="container">
        <div class="st-section-heading st-style1">
            <h4 class="st-section-heading-title">@Model.map_name - Loot</h4>
            <h2 class="st-section-heading-subtitle" style="font-size:50px;">>@Model.map_name - Loot</h2>
        </div>
        <div class="st-height-b25 st-height-lg-b25"></div>
    </div>


    <div class="container">
        @Html.Partial("/Views/Shared/_MapsLinksPartial.cshtml")
        @Html.Partial("/Views/Shared/_mapTabsPartial.cshtml")



        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent" style="position: relative;">
            @if (Model.map_id==1)
            {
            <div class="tab-pane fade show active" id="nav-loots" role="tabpanel" aria-labelledby="nav-loots-tab">

                
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">

                    <a class="nav-item nav-link active" id="nav-loot-tab" data-toggle="tab" href="#nav-loot" role="tab" aria-controls="nav-loot" aria-selected="true">Loot Quantity Map</a>
                    <a class="nav-item nav-link" id="nav-cargo-tab" data-toggle="tab" href="#nav-cargo" role="tab" aria-controls="nav-cargo" aria-selected="true">Cargo Bot</a>
                 
                </div>
            </div>
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">

                <div class="tab-pane fade show active" id="nav-loot" role="tabpanel" aria-labelledby="nav-loot-tab">
                    <div class="container">
                        <img src="/img/maps/@Model.loot_qty"/>
                    </div>

                </div>
                <div class="tab-pane fade" id="nav-cargo" role="tabpanel" aria-labelledby="nav-cargo-tab">
                    <div class="container">
                        <img src="/img/maps/@Model.cargobot" />
                    </div>
                </div>
               
                </div>}
                else
                {
                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">

                    
                        <div class="container">
                            <img src="/img/maps/@Model.loot_qty" />
                        </div>

                    

                </div>

                }
            </div>
        </div>
    </div>


